<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.UserFollowMapper">

    <sql id="columns">
        id,user_id,house_id,
        create_time,update_time,is_deleted
    </sql>

    <insert id="insert">
        insert into user_follow(
            user_id,house_id
        ) values(
            #{userId},#{houseId}
        )
    </insert>

    <delete id="deleteByUserIdAndHouseId">
        delete from user_follow
        where user_Id = #{userId}
        and house_id = #{houseId}
    </delete>

    <select id="getByUserIdAndHouseId" resultType="UserFollow">
        select
        <include refid="columns"></include>
        from user_follow
        where user_Id = #{userId}
        and house_id = #{houseId}
        and is_deleted = 0
    </select>

    <select id="findByPage" resultType="UserFollowVo">
    select
    uf.id id, hh.id houseId , uf.create_time createTime,
    hc.name communityName , hh.name name , hh.build_area buildArea ,
    hh.total_price totalPrice , hh.default_image_url defaultImageUrl,
    (select name from hse_dict where id = hh.house_type_id) houseTypeName,
    (select name from hse_dict where id = hh.floor_id) floorName,
    (select name from hse_dict where id = hh.direction_id) directionName
    from user_follow uf
    left outer join hse_house hh on hh.id = uf.house_id
    left outer join hse_community hc on hh.community_id = hc.id
    where user_id=#{userId}
</select>

    <delete id="delete">
        delete from user_follow where id = #{id}
    </delete>
    
</mapper>