<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.DictMapper">

    <sql id="columns">
        id, parent_id, name, dict_code, create_time, update_time, is_deleted
    </sql>

    <select id="findListByParentId" resultType="Dict">
        select 
        <include refid="columns"></include>
        from hse_dict
        where is_deleted = 0 and parent_id = #{parentId}
    </select>

    <select id="countByParentId" resultType="Long">
        select count(1) from hse_dict
        where is_deleted = 0 and parent_id = #{parentId}
    </select>

    <select id="getNameById" resultType="String">
        select name from hse_dict
        where id = #{id} and is_deleted = 0
    </select>

    <select id="getIdByCode" resultType="Long">
        select id from hse_dict
        where dict_code = #{dictCode}
        and is_deleted = 0
    </select>
    
</mapper>