<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.HouseImageMapper">

    <sql id="columns">
        id, house_id, image_name,
        image_url, type, create_time,
        update_time,is_deleted
    </sql>

    <select id="findListByTypeAndHouseId" resultType="HouseImage">
        select <include refid="columns"></include>
        from hse_house_image
        where type = #{type}
        and house_id = #{houseId}
        and is_deleted = 0
    </select>

    <insert id="insert">
        insert into hse_house_image(
            house_id,image_name,image_url,type
        )values(
            #{houseId},#{imageName},#{imageUrl},#{type}
        )
    </insert>

    <select id="getById" resultType="HouseImage">
        select
        <include refid="columns"></include>
        from hse_house_image
        where id = #{id}
        and is_deleted=0
    </select>
    
    <update id="delete">
        update hse_house_image
        set is_deleted = 1 , update_time = now()
        where id = #{id}
    </update>
</mapper>